/* -------------------------------------media query header-------------------------------- */
@media (min-width:0px) and (max-width:480px)
{

    header{
        position: relative;
        height: 720px;
        width: 480px;
    }
    header img{
        height: 100%;
        width: 100%;
    }
    nav{
        
        top: 1%;
        position: absolute;
        height: 40px;
        width: 100%;
    }
    nav img{
        height: 40px;
        width: 70px;
    }
    nav ul{
        
        list-style-type: none;
        display: flex;
        height: 100%;
        width: 100%;
    }
    nav ul li a{
        font-family: 'Times New Roman', Times, serif;
        font-weight: 900;
        line-height: 40px;
        padding-left: 15px;
        font-size: 15px;
        color:black;
        text-decoration: none;
    }
    nav ul li a:hover{
        font-style: italic;
        color: wheat;
    }
    @keyframes round{
        0%{transform: rotate(0deg);}
        
        100%{transform: rotate(360deg);}
    }
    .text1{
    text-align: center;
    height: 200px;
    width: 350px;
    left: 20%;
    top: 20%;
    position: absolute;
    font-size: 38px;
    color: white;
    animation-name: round;
    animation-duration: 1s;
    }
/*-----------------media query for maininput------------------------------  */
     
.maininput{
    top: 55%;
    position: absolute;
    display: inline;
    left: 10%;
    height: 160px;
    width: 100%;
    }
    .input1, .input2, .input3, .input4{
    padding: 20px;
    font-size: 28px;
    color: white;
    font-style: italic;
    font-weight: 900;
    
    }
    
    .input1 input{
        padding: 10px;
        width: 180px
    }
    
    .input2 input{
        padding: 10px;
        width: 180px
    }
    .input3 select{
        padding: 10px;
        width: 150px
    }
    .input4 select{
        padding: 10px;
        width: 150px
    }
    .input5{
        
    padding: 20px;
    }
    .input5 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 8px;
    }
    .input5 a:hover{
    background-color: black;
    color: white;
    }
      

    /* -------------------------media query for box1 starts----------------- */
.box1{
    
    display: inline;
    height: 1100px;
    width: 100%;
    
}
.a1{
    padding: 50px;
    height: 100%;
    width: 380px;
}
.a1 img{
    height: 100%;
    width: 380px;
}

.a2{
   
    padding: 90px 60px 60px 60px;
  
    height: 70%;
    width: 320px;
}
.a2 h1{
    font-size: 42px;
    font-family: 'Times New Roman', Times, serif;
}
.a2 p{
    font-size: 22px;
    font-style: italic;
}
.a2 a{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 24px;
    text-decoration: none;
    color: white;
    background-color: red;
    
}
.a2 a:hover{
    background-color: whitesmoke;
    color: black;
    
}
.a3{
    padding: 40px;
    height: 100%;
    width: 380px;
}
.a3 img{
    height: 100%;
    width: 380px;
}
  
/* ------------------------Media query for text2 starts----------------- */

.text2{
    padding-left: 37px;
}
.text2 h1{
    font-size: 42px;
    color: black;
}
.text2 p{
    font-size: 22px;
    font-style: italic;
}


/* --------------------Media query for box2 starts--------------------------- */
.box2{
    background-color: whitesmoke;
    display: inline;
    height: 600px;
    width: 100%;
    
}
.b1{
    padding: 40px;
    height: 400px;
    width: 400px;
}
.b1 img{
    position: relative;
    height: 400px;
    width: 100%;
}
.tb1{
    color: white;
    position: absolute;
    top: 605%;
    left: 10%;
    height: 150px;
    width: 250px;
    
}
.tb1 p{
    line-height: 18px;
    font-size: 18px;
    font-style: italic;
}
.tb1 p span{
    font-size: 24px;
}
.b2{
    padding: 40px;
    height: 400px;
    width: 400px;
}
.b2 img{
    height: 400px;
    width: 100%;
}
.tb2{
    color: white;
    position: absolute;
    top: 682%;
    left: 10%;
    height: 150px;
    width: 250px;
    
}
.tb2 p{
    line-height: 18px;
    font-size: 18px;
    font-style: italic;
}
.tb2 p span{
    font-size: 24px;
}
.b3{
    padding: 40px;
    height: 400px;
    width: 400px;
}
.b3 img{
    height: 400px;
    width: 100%;
}
.tb3{
    color: white;
    position: absolute;
    top: 763%;
    left: 12%;
    height: 150px;
    width: 250px;
    
}
.tb3 p{
    line-height: 18px;
    font-size: 18px;
    font-style: italic;
}
.tb3 p span{
    font-size: 24px;
}


/* ------------------Media query for box3 starts-------------------- */
.box3{
    padding-top: 30px;
    height: 1450px;
    width: 100%;
    background-color: whitesmoke;
}
.text3{
    text-align: center;
    padding-left: 18%;
    height: 220px;
    width: 350px;
    font-size: 38px;

}
.rectangle{
    margin-left: 0px;
    display: inline;
    height: 950px;
    width: 420px;
}
.p1{
    height: 450px;
    width: 400px;
}
.p1 img{
    padding-top: 42px;
    padding-left: 42px;
    height: 100%;
    width: 100%;
}
.p2{
    margin-top: 94px;
    margin-left: 44px;
    padding: 0px;
    text-align: center;
    background-color: black;
    color: white;
    height: 605px;
    width: 400px;
}
.p2 h1{
    padding: 50px;
    font-size: 42px;  
}
.p2 p{
    padding: 20px 60px 30px 60px;
    font-size: 22px;
    font-style: italic;
}
.p2 a{
    padding: 10px;
    border: 2px solid coral;
    border-radius: 10px;
    font-size: 24px;
    text-decoration: none;
    color: coral;
    background-color: black;
}
.p2 a:hover{
    background-color: coral;
    color: black;
}
.tour{
    padding-top: 60px;
    font-size: 48px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
}



/* ------------------Media query for frame starts---------------------------- */
.frame{
    height: 850px;
    width: 400px;
}
iframe{
    height: 100%;
    width: 100%;
    padding-left: 44px;
    padding-top: 40px;
}

/* -----------------------Media query for box4 starts---------------------------------- */
.text4{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    text-align: center;
    margin-top: 120px;
    font-size: 54px;
}
.box4{
    position: relative;
    padding: 40px;
    display: inline;
    height: 450px;
    width: 400px;
}

.t1{
    padding: 30px;
    height: 450px;
    width: 400px;
}
.t1 img{
    padding-left: 10px;
    height: 100%;
    width: 100%;
}
.t2{
    padding: 30px;
    height: 450px;
    width: 400px;
}
.t2 img{
    padding-left: 10px;
    height: 100%;
    width: 100%;
}
.t3{
    padding: 30px;
    height: 450px;
    width: 400px;
}
.t3 img{
    padding-left: 10px;
    height: 100%;
    width: 100%;
}
.textbar1{
    visibility: hidden;
    position: absolute;
    top: 1382%;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    width: 120px;
    color: black;
    padding-left: 200px;
}
.textbar2{
    visibility: visible;
    display: inline;
    text-align: center;
    height: 250px;
    width: 400px;
    color: white;    
}

.ht1{
    left: 10%;
    top: 1525%;
    position: absolute;
    height: 100%;
    width: 100%;
    
}
.ht1 p{
    font-style: italic;
    font-size: 20px;
    padding: 0px 60px 0px 60px;
}
.ht2{
    left: 10%;
    top: 1740%;
    position: absolute;
    height: 100%;
    width: 100%;
   
}
.ht2 p{
    font-style: italic;
    font-size: 20px;
    padding: 0px 60px 0px 60px;
}
.ht3{
    left: 10%;
    top: 1935%;
    position: absolute;
    height: 100%;
    width: 100%;
    
}
.ht3 p{
    font-style: italic;
    font-size: 20px;
    padding: 0px 60px 0px 60px;
}


/* ----------------Media query review starts--------------- */

.review{
    padding-top: 120px;
    margin-top: 100px;
    font-family: monospace;
    display: inline;
    background-color: green;
    height: 350px;
    width: 400px;
}
.r1{
    padding-top: 120px;
    padding-bottom: 120px;
    height: 100%;
    width: 100%;
}
.r1 h1{
    padding-left: 60px;
}
.r1 p{
    font-size: 22px;
    font-style: italic;
    padding: 10px 60px 10px 60px;
}
.r2{
    height: 100%;
    width: 100%;
}
.r2 h1{
    padding-left: 60px;
}
.r2 p{
    font-size: 22px;
    font-style: italic;
    padding: 10px 60px 10px 60px;
}

/* -------------------Media query for footer starts------------ */
footer{
    height: 1450px;
    width: 100%;
    background-color: black;
    color: white;
    display: block;
    margin-top: 50px;

}
.f1{
    height: 320px;
    width: 100%;
}
.f1 img{
    padding-left: 110px;
    height: 50px;
    width: 200px;
}
.f1 p{
    padding-left: 80px;
    width: 350px;
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
}
.icons{
    padding-left: 0px;
    margin-left: 50px;
    height: 80px;
    width: 120px;

}
.f2{
    padding-top: 0px;
    height: 300px;
    width: 100%;
    text-align: center;
}
.f2 h1{
    font-size: 28px;
}
.f2 ul li a{
    color: white;
}

.f3{
    padding-top: 40px;
    height: 300px;
    width: 100%;
    text-align: center;
}
.f3 h1{
    font-size: 28px;
}
.f3 ul li a{
    color: white;
}
.f4{
    padding-top: 0px;
    height: 300px;
    width: 100%;
    text-align: center;
}
.f4 h1{
    font-size: 28px;
}
.devloper{
    padding: 40px;
    width: 80%;
    left: 0%;
    top: 1905%;
    position: absolute;
    color: white;
}


}